<%- include('partials/header') -%>
  

<!-- search -->
<section class ="container mt-5 justify-content-center">
  <% if (keyIngredient) { %>
    <h4 class="container">New Search</h4>
  <% } %>
  <form action="/search" method="GET">
    <input type="search" name="search" id="search" placeholder="Enter an Ingredient">
  </form>
</section>

<!-- Key ingredient plus pairings builder -->
<% if (keyIngredient) { %>
  <h4 class= "container justify-content-center mt-5">Key Ingredient: <span id="keyIngredient"><%= keyIngredient %></span></h4>
    <h6 id="selectedPairs"></h6>
        <div class="text-center">
          <button id="saveBtn" type="button" class="btn btn-primary btn-sm mt-1">Save</button></div>
      </form>
<% } %>

<!-- List of Pairings -->
<div class="container">
    <div class="row justify-content-center mt-5">
      <% if (pairings) { %>
        <h6>Add a pairing:</h6>
      <% } %>
      <ul class="row list-unstyled" id="pairingsList">
          <% for(var i=0; i<pairings.length; i++) {%>
              <li class="col-4 justify-content-between mt-1 pairing">
                <button type="button" value="<%=pairings[i]%>" class="btn btn-light" id><%=pairings[i]%></button>
              </li>
            </form>
          <% } %>
          </ul>
      </div>
    </div>

<%- include('partials/footer') -%>
