<%- include('partials/header') -%>
<main class ="min-h-full flex flex-col min-w-full">
  

  <!-- Search -->
  <section class ="mx-auto mt-5 px-5 pb-3 max-w-2xl">
      <% if (keyIngredient) { %>
        <h4 class="text-2xl">New Search:</h4>
      <% }else { %>
          <h4 class="text-2xl mb-1">Search:</h4>
      <% } %>
      <form action="/search" method="GET">
        <input class ="input-bordered text-2xl p-2" type="search" name="search" id="search" placeholder="Enter an Ingredient">
      </form>
  </section>

  <!-- Key ingredient plus pairings builder -->
  
  <% if (keyIngredient) { %>
    <section class="m-5 border max-w-xlg">
      <p class= "font-bold text-2xl m-2">Key Ingredient: <span class="" id="keyIngredient"><%= keyIngredient[0].toUpperCase() + keyIngredient.slice(1)%></span></p>
        <p id="selectedPairs" class="m-2">Pairings: 
        <% if (selectedPairings) { %>
            <% for(var i=0; i<selectedPairings.length; i++) {%>
                <button type="button" value="<%=selectedPairings[i]%>" class="btn btn-light ml-1 <%= selectedPairingsPurple.includes(selectedPairings[i]) ? 'changeColor' : 'same' %>" id><%=selectedPairings[i]%></button>
            <% } %>
        </p>
        <% } %>
          
            <div class="text-right m-3">
              <button id="saveBtn" type="button" class="btn btn-primary btn-sm m-1">Save Pairing To Your Profile</button>
            </div>
    </section>

    <!-- add your own pairing -->
    <div class="mx-5 mb-3 border rounded">
      <div class="p-3">
        <label for="userMadePairing">Add your own Pairing: </label><br>
          <input class="input-bordered" id="userMadePairing" type="text">
          <button id="userMadePairingBtn" class="btn btn-primary btn-sm m-1">Add</button>
      </div> 
    </div>
  <% } %>

  <!-- List of Pairings -->
  <% if (!pairings && !comparedDuplicates) { %>
    <img src="/imgs/builder/macarons.png">
  <% } %>

<!-- ////////////////////////////////////// -->

<!-- ////////////////////////////////////// -->

  <% if (comparedDuplicates || pairings) { %>
    <section class="bg-base-200">
      <div class="container m-5 ">
          <div class="row justify-content-center mt-6">
            <h6>Suggested Pairings:</h6>
          <% } %>
          <ul class="row list-unstyled columns-2 lg:columns-6 md:columns-5 xl:columns-8 " id="pairingsList">
            <% if (pairings == 'none found') { %>
              <h1 class="m-5 font-bold">No matching pairings</h1>
            <% } else if (pairings) {%>
              <% for(var i=0; i<pairings.length; i++) {%>
                <li class="col-4 justify-content-between mt-1 pairing">
                  <button type="button" value="<%=pairings[i]%>" class="btn btn-light ml-1" id><%=pairings[i]%></button>
                </li>
              <% } %>
            <% } else {%>
              <% for(var i=0; i<comparedDuplicates.length; i++) {%>
                <li class="col-4 justify-content-between mt-1 pairing">
                  <button type="button" value="<%=comparedDuplicates[i]%>" class="btn btn-light ml-1" id><%=comparedDuplicates[i]%></button>
                </li>
              <% } %>
            <% } %>

            </ul>
          </div>
        </div>
  </section>

  <!-- Pairings Created by other Users -->
  <section>
    <% if (communityPairings != false) { %>
    <h2 class=" mx-10 mt-10 text-2xl font-bold">Pairings from other Users with this Key Ingredient:</h2>
      <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
          <% for(var i=0; i<communityPairings.length; i++) {%>
              <!--Card item-->
              <div class="rounded overflow-hidden shadow-lg">
                <!-- image if one -->
                <% if (communityPairings[i].image) { %>
                  <img class="w-full" src="<%=communityPairings[i].image%>" alt="picture of food made with pairings">
                <% } %>

                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2"><%=communityPairings[i].keyIngredient[0].toUpperCase() + communityPairings[i].keyIngredient.slice(1)%></div>
                  <p class="font-bold"><%=communityPairings[i].pairings.join(' + ').toLowerCase()%></p>
                </div>

                <!-- note if one -->
                <%if(communityPairings[i].notes){ %>
                  <div class="m-4 border">
                    <h5>Notes:</h5>
                    <p><%= communityPairings[i].notes %></p>
                  </div>
                <%}%>

                <div class="px-2 pt-4 pb-2">
                  <div class="card-actions justify-between">
                    <div class="ml-5">
                      <p>Pairing made by: <a class="text-blue-700" href="/profile/<%=communityPairings[i].user%>"><%= communityPairings[i].user == user.id ? 'You' : communityPairings[i].userName%></a></p>
                    </div>
                    <a href="/pairing/<%=communityPairings[i]._id%>" class="btn btn-primary btn-sm">View</a>
                  </div>
                </div>
              </div>
            <% } %>
          <% } %>
      </section>

<%- include('partials/footer') -%>
