<%- include('partials/header') -%>
<main class="min-h-full flex flex-col min-w-full ">
    <section>
      <h1 class="text-3xl m-10">Recently made Pairings from the community:</h1>
      <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-5 ">
        <% if (pairings) { %>
          <% for(var i=0; i<pairings.length; i++) {%>
              <!--Card item-->
              <div class="rounded overflow-hidden shadow-lg flex-col justify-between flex-1 flex max-w-lg">
                  <!-- if pairings has image -->
                  <div>
                    <% if (pairings[i].image) { %>
                      <img class="w-full" src="<%=pairings[i].image%>" alt="picture of food made with pairings">
                      <% } %>
                    <!-- key ingredient and pairings -->
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2"><%=pairings[i].keyIngredient%></div>
                      <p><%=pairings[i].pairings.join(' + ').toLowerCase()%></p>
                    </div>
                    <!-- pairing notes -->
                    <%if(pairings[i].notes){ %>
                      <div class="m-4 border">
                        <h5>Notes:</h5>
                        <p><%= pairings[i].notes %></p>
                      </div>
                    <%}%>
                  </div>
                  <!-- number of likes -->
                <section class="m-5">
                  <div class="mt-5 grid justify-items-end">
                    <h3 class="col-3 mr-6">Likes: <%= pairings[i].likedBy.length %></h3>
                    <!-- made by -->
                    <div class="mr-6">
                      <p>Pairing made by: <a class="text-blue-700	" href="/profile/<%=pairings[i].user%>"><%=pairings[i].userName%></a></p>
                    </div>
                    <small class="text-slate-500 px-6"><%=pairings[i].createdAt.toLocaleString()%></small>
                  </div>

                  <div class="px-6 pt-4 pb-2">
                    <div class="card-actions justify-end">
                      <div>
                        <!-- like or unlike a pairing -->
                        <% if (pairings[i].likedBy.includes(user)) { %>
                          <form class="col-1 inline-block" action="/dislikeFeedPairing/<%= pairings[i].id %>?_method=PUT" method="POST">
                            <button class="btn btn-primary fa fa-heart btn-sm" type="submit"></button>
                        </form>
                        
                        <% } else { %>
                          <form class="col-1 inline-block" action="/likeFeedPairing/<%= pairings[i].id %>?_method=PUT" method="POST">
                              <button class="btn btn-primary fa fa-heart btn-sm" type="submit"></button>
                          </form>
                        <% } %>

                      </div>
                      <a href="/pairing/<%=pairings[i]._id%>" class="btn btn-primary btn-sm">View</a>
                    </div>
                  </div>
                </section>
            </div>
          <% } %>
        <% } %>
    </div>
  </section>

</main>

<%- include('partials/footer') -%>