<%- include('partials/header') -%>
<main class ="min-h-full flex flex-col min-w-full grid">

  <div class="p-5 mt-5 mx-auto">  
    <!--pairing-->
    <div class="max-w-2xl rounded overflow-hidden shadow-lg">
      <!-- image if one -->
      <% if (pairing.image) { %>
        <img class="img-fluid card-img-top" src="<%=pairing.image%>" />
      <% } %>

      <div class="px-6 py-4">
        <div class="font-bold text-3xl mb-2"><%= pairing.keyIngredient %></div>
        <p class="text-gray-700 text-2xl">
          <%=pairing.pairings.join(' + ')%>
        </p>
      </div>

      <!-- pairing notes -->

      <%if(pairing.notes){ %>
        <div class="m-4 border">
          <h5>Notes:</h5>
          <p><%= pairing.notes %></p>
        </div>
      <%}%>

        <div class="mt-5 grid justify-items-end">
          <h3 class="col-3 mr-6">Likes: <%= pairing.likes %></h3>
          <a href="#" class="mr-6">
            <p>Pairing made by: <%= pairing.user == user.id ? 'You' : pairing.userName%></p>
          </a>

          <div class="flex px-6 pt-4 pb-2 gap-1">
            <!-- like a pairing -->
            <form class="col-1 inline-block" action="/pairing/likePairing/<%= pairing.id %>?_method=PUT" method="POST">
                <button class="btn btn-primary fa fa-heart" type="submit"></button>
            </form>

            <!-- delete a pairing -->
            <%if(pairing.user == user.id){ %>
              <form action="/pairing/deletePairing/<%= pairing.id %>?_method=DELETE" method="POST" class="col-3">
                <button class="btn btn-primary fa fa-trash" type="submit"></button>
              </form>
            <%}%>

        </div>
      </div>
    </div>
  </div>
  <!-- end pairing -->

  <section>
    <!-- add note to your own pairing -->
    <%if(pairing.user == user.id){ %>
      <div class="p-2 mx-auto">  
        <!--pairing-->
        <div class="max-w-2xl rounded overflow-hidden">
          <div class="px-6 py-4">
            <div class="font-bold text-2xl mb-2">Add some notes to your Pairing</div>
            <p class="text-gray-700 text-2xl">
              Ideas for techniques or a dish you would like to make with this pairing.
            </p>
            <form action="/pairing/createNote/<%=pairing._id%>?_method=PUT" method="POST">
            <div class="mb-3">
                <label for="note" class="form-label">Ideas for techniques or a dish you would like to make with this pairing.</label>
                  <textarea type="textarea" placeholder="add a note" class="form-control input-bordered min-w-full" id="note" name="note"></textarea>
            </div>
            <button type="submit" class="justify-item-end btn btn-primary">Submit</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  <% } %>

    <!-- add comments to another user's pairing -->
    <%if(pairing.user != user.id){ %>
      <div class="mt-5">
        <h2>Add A Comment To This Pairing</h2>
        <form 
          action="/pairing/createComment/<%=pairing._id%>"
          method="POST">
          <div class="mb-3">
              <label for="comment" class="form-label">Comment</label>
              <input type="textarea" class="form-control" id="comment" name="comment">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    <% } %>

    <!-- see comments from other users -->
    <%if(pairing.comments){ %>
      <ul class="border">
        <% for(var i=0; i<comments.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <%= comments[i].comment%> 
          </li>
          <% } %>
      </ul>
    <% } %>
  </section>

    <div class="col-6 m-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/builder">Search</a>
    </div>

</main>

<%- include('partials/footer') -%>
