<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">

      <div class="card">
        <% if (pairing.image) { %>
          <img class="img-fluid card-img-top" src="<%=pairing.image%>" />
        <% } %>
        <div class="card-body" style ='width: 25rem'>
          <h2 class="card-title"><%= pairing.keyIngredient %></h2>
          <h6 class ="card-text"><%=pairing.pairings.join(' + ')%></h6>
        </div>
      </div>


      <div class="row justify-content-between">

        <!-- like a pairing -->
        <form
          class="col-1"
          action="/pairing/likePairing/<%= pairing.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= pairing.likes %></h3>

        <!-- delete your own pairing -->
        <%if(pairing.user == user.id){ %>
        <form
          action="/pairing/deletePairing/<%= pairing.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
    
    <!-- add note to pairing -->
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= pairing.notes %></p>
    </div>
    <div class="mt-5">
      <h2>Add a note</h2>
      <form action="/createNote/<%=pairing._id%>?_method=PUT"method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Note</label>
            <input type="textarea" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    
    <!-- see comments from other users -->
    <!-- comments -->
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <%= comments[i].comment%> 
        </li>
      <% } %>
    </ul>

    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/builder">Search</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
