<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>

          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/builder">New Search</a>
          </div> 

  <section>
    <h2>Your Pairings</h2>
      <div class="col-6">
        <ul class="row list-unstyled">
          <% if (pairings) { %>
            <% for(var i=0; i<pairings.length; i++) {%>
              <li class="col-2 justify-content-between mt-5 card" style ='width: 25rem'>
                <div class="card-body">
                  <h4 class="card-title"><%=pairings[i].keyIngredient%></h4>
                  <h6 class ="card-text"><%=pairings[i].pairings.join(' + ')%></h6>
                  <a href="/pairing/<%=pairings[i]._id%>" class="btn btn-primary">Edit</a>
                </div>
              </li>
            <% } %>
          <% } %>
        </ul>
 
      </div>  
    </section>

    </div>
  </div>
</div>
<%- include('partials/footer') -%>