<%- include('partials/header') -%>

<main class ="min-h-full flex flex-col min-w-full" id="profile-page">

<section class="mt-5 mx-10" id="profile-card">
  <div class="flex bg-white drop-shadow-md rounded-lg p-1.5">
    <img class="w-28 h-28 rounded-full border-4 border-slate-50 object-cover"
        src="/imgs/profile/puppy-face.jpg" />
    <div class="flex flex-col px-5 py-1">
        <h4 class="font-bold text-lg text-pink-600"><%=userName%></h4>
        <!-- display email and logout button if it is your profile-->
        <%if(user._id === profileUser){ %>
          <p><strong>Email</strong>: <%= user.email %></p>
          <a href="/logout" class="mt-1 col-3 btn btn-primary btn-sm">Logout</a>
        <% } %>

    </div>
  </div>
</section>

<section>
  <%if(user._id === profileUser){ %>
    <h2 class=" mx-10 mt-10 text-2xl font-bold">Your Pairings</h2>
  <% } else {%>
    <h2 class=" mx-10 mt-10 text-2xl font-bold"><%=userName%>'s Pairings</h2>
  <% } %>
    <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
        <% if (pairings) { %>
          <% for(var i=0; i<pairings.length; i++) {%>

              <!--Card item-->
              <div class="rounded overflow-hidden shadow-lg bg-base-100 flex-col justify-between flex-1 flex">
                <div>
                  <% if (pairings[i].image) { %>
                    <img class="w-full" src="<%=pairings[i].image%>" alt="picture of food made with pairings">
                    <% } %>
                  <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2"><%=pairings[i].keyIngredient%></div>
                    <p><%=pairings[i].pairings.join(' + ').toLowerCase()%></p>
                  </div>
                </div>
                <div class="px-6 pt-4 pb-2 m-3">
                  <div class="card-actions justify-between">
                    <small class="text-slate-500 px-2"><%=pairings[i].createdAt.toLocaleString()%></small>
                    <a href="/pairing/<%=pairings[i]._id%>" class="btn btn-primary btn-sm">View</a>
                  </div>
                </div>
              </div>

          <% } %>
        <% } %>
    </div>
  </section>

</main>


<%- include('partials/footer') -%>